/* ##########################################################################
   
   Web View Styles
   ########################################################################## */

/* ==========================================================================
   VARIABLES
   ========================================================================== */

:root {
  --margin-titlebar: 20px;
  --color-titlebar: #4ab367;
  --z-index-top: 1337;
  --z-index-topmost: 13370;
}

/* ==========================================================================
   GLOBAL
   ========================================================================== */

/* html
   ========================================================================== */

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* body
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ==========================================================================
   STATES
   ========================================================================== */

/* .draggable
   ========================================================================== */

.draggable {
    -webkit-app-region: drag;
}

/* ==========================================================================
   WEBVIEW
   ========================================================================== */

/* #webview
   ========================================================================== */

webview {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

html.darwin webview {
    top: var(--margin-titlebar);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ==========================================================================
   SPINNER
   ========================================================================== */

/* spinner
   ========================================================================== */

#spinner {
    z-index: var(--z-index-topmost);
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(1.5, 1.5, 1.5);

    animation: gradient 2000ms ease infinite;
    background: radial-gradient(circle farthest-corner at 50% 50%, rgba(93, 187, 118, 1), rgba(30, 62, 8, 1));

    transition: opacity 2000ms ease 500ms;
    opacity: 1;
    pointer-events: auto;
}

#spinner.hide {
    opacity: 0;
    pointer-events: none;
}

#spinner.show {
    opacity: 1;
    pointer-events: auto;
}

/* spinner__icon
   ========================================================================== */

.spinner__icon {
    background-image: url('../images/icon.png');
    background-size: 100% 100%;
    border-radius: 100%;
    position: relative;
    transform-style: preserve-3d;
    height: 75px;
    width: 75px;

    animation: rotating 1500ms linear infinite;

    transition: opacity 500ms ease-out 0ms;
    opacity: 1;
    pointer-events: auto;
}

.hide .spinner__icon {
    opacity: 0;
    pointer-events: none;
}

.show .spinner__icon {
    opacity: 1;
    pointer-events: auto;
}

.spinner__icon.background {
    background: none;
    position: absolute;
    height: 200px;
    width: 200px;
    filter: brightness(50%) blur(4px);
}

.spinner__icon.background img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.spinner__icon.background:after {
    left: 100px;
}

.spinner__icon.background:before {
    height: 200px;
    width: 200px;
}

.spinner__icon:after {
    background: rgba(74, 179, 103, 1.0) -webkit-linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, .25));
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: 100% 50%;
    width: 5px;
    left: 35px;
}

.spinner__icon:before {
    background: rgba(74, 179, 103, 1.0) -webkit-linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, .25));
    border-radius: 100%;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(-5px);
    height: 75px;
    width: 75px;
}

/* spinner__logo
   ========================================================================== */

#spinner__logo {
    background-image: url('../images/icon-text.png');
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 320px;
    height: 60px;
    margin-bottom: 1rem;

    animation: pulsating 2000ms ease infinite;

    transition: opacity 500ms ease-out 0ms, margin 500ms ease-out 0ms;
    opacity: 1;
    pointer-events: auto;
}

.hide #spinner__logo {
    margin: 2% 2% 25% 2%;
    opacity: 0;
    pointer-events: none;
}

.show #spinner__logo {
    margin: 2% 2% 2% 2%;
    opacity: 1;
    pointer-events: auto;
}

/* spinner__text
   ========================================================================== */

#spinner__text {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 2rem;

    animation: shaking 2000ms ease-in-out infinite;

    transition: opacity 500ms ease-out 0ms, margin 2000ms ease-out 0ms;
    opacity: 1;
    pointer-events: auto;
}

.hide #spinner__text {
    margin: 2% 2% 0% 2%;
    opacity: 0;
    pointer-events: none;
}

.show #spinner__text {
    margin: 2% 2% 2% 2%;
    opacity: 1;
    pointer-events: auto;
}

/* ==========================================================================
   EXTRA CONTROLS
   ========================================================================== */

/* controls-extra__container
   ========================================================================== */

#controls-extra {
    z-index: var(--z-index-topmost);
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ced1d5;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 1px 5px rgba(0, 0, 0, 0.1);

    transition: opacity 600ms;
    opacity: 0;
    pointer-events: none;
}

#controls-extra.show {
    opacity: 1;
    pointer-events: auto;
}

#controls-extra:hover {
    background-color: rgba(255, 255, 255, 1.0);
}

/* controls-extra__button
   ========================================================================== */

#controls-extra .controls-extra__button {
    transition: 0.25s;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

#controls-extra .controls-extra__button .title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    color: #95a5a6;
    height: 26px;
    line-height: 26px;
    width: 0;
    padding-left: 0;
    transition: all 0.25s ease-in-out;
}

#controls-extra:hover .controls-extra__button .title {
    width: 75px;
    padding-left: 10px;
    transition: all 0.25s ease-in-out;
}

#controls-extra .controls-extra__button .icon {
    float: right;
    color: #95a5a6;
    width: 26px;
    height: 26px;
    padding: 0;
    font-size: 28px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
}

/* ==========================================================================
   TITLE BAR
   ========================================================================== */

/* .titlebar
   ========================================================================== */

.titlebar {
    z-index: var(--z-index-top);
    display: flex;
    position: absolute;
}

html:not('.darwin') .titlebar {
    display: none;
}

.titlebar.top {
    background-color: var(--color-titlebar);
    left: 0;
    right: 0;
    height: var(--margin-titlebar);
}

.titlebar.left, .titlebar.right {
    padding-top: var(--margin-titlebar);
}

.titlebar.right {
    right: 0;
    visibility: hidden;
}

@media all and (max-width: 550px) {
  .titlebar.left {
      left: 64px;
      height: 64px;
      width: 100%;
  }
}

@media all and (min-width: 551px) {
  .titlebar {
      height: 80px;
  }
  .titlebar.left {
      left: 80px;
      width: 32%;
  }
}

@media all and (min-width: 900px) {
  .titlebar.right {
    visibility: visible;
    right: 80px;
    width: 10%;
  }
}

@media all and (min-width: 1200px) {
  .titlebar.right {
    width: 25%;
  }
}

@media all and (min-width: 2000px) {
  .titlebar.right {
    width: 30%;
  }
}

/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

/* rotate
   ========================================================================== */

@-webkit-keyframes rotating {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@-webkit-keyframes shaking {
    0% {
        transform: scale3d(1.0, 1.0, 1.0);
        filter: blur(0);
    }
    50% {
        transform: scale3d(0.95, 0.95, 0.95);
        filter: blur(1px);
    }
    100% {
        transform: scale3d(1.0, 1.0, 1.0);
        filter: blur(0);
    }
}

@-webkit-keyframes pulsating {
    0% {
        transform: scale3d(0.9, 0.9, 0.9);
        filter: blur(1px);
    }
    30% {
        filter: blur(0px);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    70% {
        filter: blur(0px);
    }
    100% {
        transform: scale3d(0.9, 0.9, 0.9);
        filter: blur(1px);
    }
}

@-webkit-keyframes gradient {
    0% {
        background-size: 200% 200%;
        background-position: 50% 50%;
    }
    50% {
        background-size: 100% 100%;
        background-position: 50% 50%;
    }
    100% {
        background-size: 200% 200%;
        background-position: 50% 50%;
    }
}

@-webkit-keyframes shaking-alternative {
    0% {
        transform: translateX(-10px);
        filter: blur(1px);
    }
    30% {
        filter: blur(0px);
    }
    50% {
        transform: translateX(15px);
    }
    70% {
        filter: blur(0px);
    }
    100% {
        transform: translateX(-10px);
        filter: blur(1px);
    }
}
