{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true
    }
  },
  "root": true,
  "rules": {
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "camelcase": "off",
    "comma-dangle": [
      "error",
      "never"
    ],
    "comma-style": [
      "error",
      "last"
    ],
    "curly": "error",
    "dot-notation": "off",
    "eol-last": "error",
    "eqeqeq": "error",
    "indent": [
      "error",
      4,
      {
        "MemberExpression": "off",
        "SwitchCase": 1
      }
    ],
    "key-spacing": [
      "error",
      {
        "afterColon": true,
        "beforeColon": false
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "after": true,
        "before": true
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-bitwise": "off",
    "no-caller": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-str": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "vars": "local"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "no-with": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "object-shorthand": "off",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "ignore",
        "named": "never"
      }
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": "error",
    "space-unary-ops": [
      "error",
      {
        "words": false,
        "nonwords": false
      }
    ],
    "valid-jsdoc": [
      "warn",
      {
        "requireReturn": false,
        "requireReturnDescription": false
      }
    ],
    "wrap-iife": "off"
  }
}
