* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #232a2a;
    font-size: 14px;
    line-height: 18px;
}
body:not(.signed-in) .signed-in {
    display: none;
}
body:not(.not-signed-in) .not-signed-in {
    display: none;
}
body:not(.firefox) .firefox {
    display: none;
}
body:not(.not-firefox) .not-firefox {
    display: none;
}
body:not(.chrome) .chrome {
    display: none;
}
body:not(.not-chrome) .not-chrome {
    display: none;
}
body:not(.not-opera) .not-opera {
    display: none;
}
body:not(.safari) .safari {
    display: none;
}
body:not(.not-safari) .not-safari {
    display: none;
}
body:not(.windows) .windows {
    display: none;
}
body:not(.not-windows) .not-windows {
    display: none;
}
body:not(.mac) .mac {
    display: none;
}
body:not(.not-mac) .not-mac {
    display: none;
}
hr {
    border: 0;
    border-top: 1px solid #ecf0f0;
    border-bottom: 1px solid white;
    margin: 20px 0;
}
p {
    margin:10px 0;
}
a {
    cursor: pointer;
    color: #4ab367;
    text-decoration: none
}
h1 {
    color: #4ab367;
    font-size: 30px;
    line-height: 40px;
}
a:hover {
    color: #4ab367;
}
#header {
    position: relative;
    overflow: hidden;
    background-color: #4ab367;
    padding: 15px 15px 0 15px;
    color: white;
    z-index: 200;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
#logo {
    background-image: url(logo.png);
    background-size: 264px 50px;
    width: 264px;
    height: 50px;
}
#logo-link {
    cursor: pointer;
    display: inline-block;
}
#logo-link:focus {
    outline: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
    #logo {
       background-image: url(logo@2x.png);
    }
}
#tabs {
    overflow: hidden;
}
.tab {
    float: left;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, .65);
    -moz-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.tab:hover {
    cursor: pointer;
    color: white;
    background-color: #38a06d;
}
.tab.selected {
    color: white;
    border-bottom: 3px solid white;
}
textarea,input[type="text"],input[type="password"] {
    font-family: Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
    display: block;
    width: 100%;
    resize: none;
    border: 0;
    border-bottom: 1px solid #ecf0f0;
    color: #232a2a;
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
}
button {
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background-color: #6ec07c;
    padding: 10px 15px;
    border-radius: 2px;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
button:hover {
    background-color: #4ab367;
}
button:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
}
button.gray {
    background-color: #95a5a6;
}
button:hover.gray {
    background-color: #5c6868;
}
.inner {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
}
.one-line {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bold {
    font-weight: bold;
}
@font-face {
    font-family: pushfont;
    src: url(pushfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-feature-settings: "calt=0,liga=0"
}
[class^="pushfont-"], [class*=" pushfont-"] {
  font-family: pushfont;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}
.pushfont-back:before {
    content: "\f000";
}
.pushfont-bell:before {
    content: "\f001";
}
.pushfont-bubble:before {
    content: "\f002";
}
.pushfont-channel:before {
    content: "\f003";
}
.pushfont-check:before {
    content: "\f004";
}
.pushfont-circle:before {
    content: "\f005";
}
.pushfont-close:before {
    content: "\f006";
}
.pushfont-dash:before {
    content: "\f007";
}
.pushfont-device:before {
    content: "\f008";
}
.pushfont-downcaret:before {
    content: "\f009";
}
.pushfont-everything 2:before {
    content: "\f00a";
}
.pushfont-everything:before {
    content: "\f00b";
}
.pushfont-file:before {
    content: "\f00c";
}
.pushfont-gear:before {
    content: "\f00d";
}
.pushfont-hamburger:before {
    content: "\f00e";
}
.pushfont-image:before {
    content: "\f00f";
}
.pushfont-link:before {
    content: "\f010";
}
.pushfont-linkpip:before {
    content: "\f011";
}
.pushfont-message:before {
    content: "\f012";
}
.pushfont-paperclip:before {
    content: "\f013";
}
.pushfont-plus:before {
    content: "\f014";
}
.pushfont-popout:before {
    content: "\f015";
}
.pushfont-pushbullet:before {
    content: "\f016";
}
.pushfont-search:before {
    content: "\f017";
}
.pushfont-send:before {
    content: "\f018";
}
.pushfont-sms:before {
    content: "\f019";
}
.pushfont-upcaret:before {
    content: "\f01a";
}
