html {
    background-color: white;
    height: 100%;
}
body {
    height:100%;
    overflow: hidden;
}
#top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    background-color: #4ab367;
}
#picker-holder {
    position: relative;
}
.picker {
    width: 260px;
}
.picker-input {
    color: white !important;
    border-bottom: none !important;
    background-color: transparent;
}
.picker-overlay {
    background-color: transparent;
}
.picker-overlay .picker-option {
    color: white;
    font-weight: bold;
    background-color: #4ab367;
    width: 214px;
}
.picker-overlay:hover {
    background-color: #38a06d;
}
.picker-overlay:hover .picker-option {
    background-color: #38a06d;
}
#chat-holder {
    position: absolute;
    top: 50px;
    bottom: 67px;
    left: 0;
    right: 0;
}
.firefox #chat-holder {
    bottom: 83px;
}
#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d0d0d0;
}
#messaging-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
