/* ==========================================================================
   WEBVIEW
   ========================================================================== */

/* #webview
   ========================================================================== */

#webview
{
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    position: absolute;
}

html.darwin #webview
{
    top: var(--margin-titlebar);
}

html.win32 #webview,
html.linux #webview
{
    top: 0;
}