/* ==========================================================================
   WINDOW
   ========================================================================== */

/* html
   ========================================================================== */

html
{
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* body
   ========================================================================== */

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
