/* ==========================================================================
   TIMING-FUNCTIONS
   ========================================================================== */

:root
{
    --timing-function-ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
